@font-face {
    font-family: 'DOSMyungjo';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/DOSMyungjo/DOSMyungjo.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DOSMyungjo/DOSMyungjo.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DOSMyungjo/DOSMyungjo.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DOSMyungjo/DOSMyungjo.ttf') format('truetype');
}
